/* css html */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html{
    height: 100%;
  }
  
  /* body */
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #bg-image2 {
    display: block;
  }
  
  #background {
    max-width: 100vw;
  }
  
  #bg-image2 {
    width: 100%;
  }
  
  /* css for contact form */

  .carGrid {
    background-color: lightgrey;
    display: grid;
    grid-gap: 28px;
    grid-template-columns: 33.4% 33.4% 33.4%;
    grid-template-rows: 0.5fr 0.5fr;
  }

  div.huracanevo {
    margin: 10px 0 0 10px;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.container {
    display: block;
    font-size: 14px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px 20px;
    overflow: scroll;
  }

  #huracanoverview {
    padding: 10px;
  }

  div.aventadorsvj {
    margin: 10px 10px 0 10px;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  div.container2 {
    display: block;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px 20px;
    overflow: scroll;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #aventadoroverview {
    padding: 10px;
  }

  div.performante {
    margin: 10px 0 0 10px;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    grid-column: 3/3;
    grid-row: 1/2;
  }
  
  div.container3 {
    display: block;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px 20px;
    overflow: scroll;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #performanteoverview {
    padding: 10px;
  }

  div.urus {
    margin: 10px 0 0 10px;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  div.container4 {
    display: block;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px 20px;
    overflow: scroll;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #urusoverview {
    padding: 10px;
  }

  div.huracan {
    margin: 10px 0 0 10px;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  div.container5 {
    display: block;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px 20px;
    overflow: scroll;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #huracan2overview {
    padding: 10px;
  }
  /* css nav */
  
  nav {
    background-color: rgb(70, 70, 70, 0.80);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    top: 0;
    box-shadow: 15px 15px 30px rgb(34, 34, 34);
  } 
  
  nav img {
    width: 10%;
    align-self: center;
  }
  
  /* css hamburger menu */
  
  .menu {
    margin: 30px 100px 0 0;
    text-align: center;
    width: 100%;
    display: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
  
  .menu a {
    clear: right;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 8px;
    line-height: 70px;
    display: block;
    border-bottom: 1px solid black;
  }
  
  label {
    margin-top: 14px;
    margin-right: 60px;
    width: 26px;
    float: right;
    font-size: 60px;
    line-height: 70px;
    display: block;
    cursor: pointer;
    color:  rgba(255, 255, 255, 0.8); 
  }
  
  #toggle {
    display: none;
  }
  
  #toggle:checked + .menu {
    display: block;
  }
  
  /* css footer */
  
  footer {
    position: relative;
    margin: 0;
    background-color: rgb(70, 70, 70);
    bottom: 0;
    width: 100vw;
    height: 35vw;
  }
  
  .footerText {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ccc;
    margin-top: 0;
    padding: 8px;
  }
  
  .footerText p {
    margin: 10px;
  }
  
  .plugicons {
    position: absolute;
    display: grid;
    grid-column-gap: 5px;
    grid-template-areas:
    "items items items";
  }
  
  .googlemaps {
    position: absolute;
    left: 1vw;
    bottom: 7vh;
  }
  
  .items {
    margin-top: 30px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  /* ----- Queries for different devices! ----- */
  
  /* queries for 400px */
  
  @media only screen and (max-width: 400px){
    nav {
      background-color: rgb(70, 70, 70, 0.80);
      width: 100%;
      height: 7vh;
      display: flex;
      justify-content: space-between;
      position: fixed;
      top: 0;
      box-shadow: 10px 10px 25px rgb(34, 34, 34);
    }
  
    nav img {
      width: 15%;
      align-self: center;
      cursor: pointer;    
    }
  
    .menu {
      text-align: center;
      width: 50%;
      display: none;
      font-family: Roboto, Arial, Helvetica, sans-serif;
    }
      
    .menu a {
      font-size: 10px;
      clear: right;
      text-decoration: none;
      color: black;
      background-color: rgba(255, 255, 255, 0.8);
      margin-right: -35px;
      line-height: 45px;
      display: block;
      border-bottom: 1px solid black;
    }
      
    label {
      margin-top: -15px;
      margin-right: 20px;
      width: 26px;
      float: right;
      font-size: 36px;
      line-height: 70px;
      display: block;
      cursor: pointer;
      color:  rgba(255, 255, 255, 0.8); 
    }
      
    #toggle {
      display: none;
    }
      
    #toggle:checked + .menu {
      display: block;
    }
  
    .carGrid {
      overflow: hidden;
      background-color: lightgrey;
      display: grid;
      grid-gap: 3px;
      grid-template-columns: 100%;
      grid-template-rows: 20% 20% 20% 20% 20%;
    }
  
    div.huracanevo {
      margin: 10px 0 0 0px;
      width: 100%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      overflow: scroll;
      height: 100%;
    }
    
    div.container {
      display: block;
      font-size: 14px;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 10px 20px;
    }
  
    #huracanoverview {
      padding: 2px;
    }
  
    div.aventadorsvj {
      margin: 10px 10px 0 0px;
      width: 100%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      grid-column: 1/2;
      grid-row: 2/3;
      overflow: scroll;
      height: 100%;
    }
    
    div.container2 {
      display: block;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      padding: 10px 20px;
      overflow: scroll;
    }
  
    #aventadoroverview {
      padding: 2px;
    }
  
    div.performante {
      margin: 10px 0 0 0px;
      width: 100%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      grid-column: 1/2;
      grid-row: 3/4;
      overflow: scroll;
      height: 100%;
    }
    
    div.container3 {
      display: block;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      padding: 10px 20px;
      overflow: scroll;
    }
  
    #performanteoverview {
      padding: 2px;
    }
  
    div.urus {
      margin: 10px 0 0 0px;
      width: 100%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      grid-column: 1/2;
      grid-row: 4/5;
      overflow: scroll;
      height: 100%;
    }
    
    div.container4 {
      display: block;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      padding: 10px 20px;
      overflow: scroll;
    }
  
    #urusoverview {
      padding: 2px;
    }
  
    div.huracan {
      margin: 10px 0 0 0px;
      width: 100%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      grid-column: 1/2;
      grid-row: 5/6;
      overflow: scroll;
      height: 100%;
    }
    
    div.container5 {
      display: block;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      padding: 10px 20px;
      overflow: scroll;
    }
  
    #huracan2overview {
      padding: 2px;
    }

    footer {
      position: relative;
      margin: 0;
      background-color: rgb(70, 70, 70);
      bottom: 0;
      width: 100vw;
      height: 110vw;
    }
  
    .googlemaps {
      position: absolute;
      width: 50%;
      height: 50%;
      left: 5vw;
      bottom: 7vh;
    }
  }
  
  /* css querie for minimum 400px & maximum 600px */
  
  @media only screen and (min-width: 400px) and (max-width: 600px){
     nav {
      background-color: rgb(70, 70, 70, 0.80);
      width: 100%;
      height: 7vh;
      display: flex;
      justify-content: space-between;
      position: fixed;
      top: 0;
      box-shadow: 15px 15px 30px rgb(34, 34, 34);
    }
  
    nav img {
      width: 15%;
      align-self: center;
      cursor: pointer;    
    }
    .menu {
      margin-top: 30px;
      text-align: center;
      width: 50%;
      display: none;
      font-family: Roboto, Arial, Helvetica, sans-serif;
    }
    
    .menu a {
      clear: right;
      text-decoration: none;
      color: black;
      background-color: rgba(255, 255, 255, 0.8);
      margin-right: -56px;
      line-height: 70px;
      display: block;
      border-bottom: 1px solid black;
    }
    
    label {
      margin-top: -3px;
      margin-right: 40px;
      width: 26px;
      float: right;
      font-size: 50px;
      line-height: 70px;
      display: block;
      cursor: pointer;
      color:  rgba(255, 255, 255, 0.8); 
    }
    
    #toggle {
      display: none;
    }
    
    #toggle:checked + .menu {
      display: block;
    }
  
    .carGrid {
      overflow: hidden;
      background-color: lightgrey;
      display: grid;
      grid-gap: 3px;
      grid-template-columns: 50% 50%;
      grid-template-rows: 0.33fr 0.33fr 0.33fr;
    }
  
    .carGrid {
      overflow: hidden;
      background-color: lightgrey;
      display: grid;
      grid-gap: 3px;
      grid-template-columns: 100%;
      grid-template-rows: 20% 20% 20% 20% 20%;
    }
  
    div.huracanevo {
      margin: 10px 0 0 0px;
      width: 100%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      overflow: scroll;
      height: 100%;
    }
    
    div.container {
      display: block;
      font-size: 14px;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 10px 20px;
    }
  
    #huracanoverview {
      padding: 2px;
    }
  
    div.aventadorsvj {
      margin: 10px 10px 0 0px;
      width: 100%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      grid-column: 1/2;
      grid-row: 2/3;
      overflow: scroll;
      height: 100%;
    }
    
    div.container2 {
      display: block;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      padding: 10px 20px;
      overflow: scroll;
    }
  
    #aventadoroverview {
      padding: 2px;
    }
  
    div.performante {
      margin: 10px 0 0 0px;
      width: 100%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      grid-column: 1/2;
      grid-row: 3/4;
      overflow: scroll;
      height: 100%;
    }
    
    div.container3 {
      display: block;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      padding: 10px 20px;
      overflow: scroll;
    }
  
    #performanteoverview {
      padding: 2px;
    }
  
    div.urus {
      margin: 10px 0 0 0px;
      width: 100%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      grid-column: 1/2;
      grid-row: 4/5;
      overflow: scroll;
      height: 100%;
    }
    
    div.container4 {
      display: block;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      padding: 10px 20px;
      overflow: scroll;
    }
  
    #urusoverview {
      padding: 2px;
    }
  
    div.huracan {
      margin: 10px 0 0 0px;
      width: 100%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      grid-column: 1/2;
      grid-row: 5/6;
      overflow: scroll;
      height: 100%;
    }
    
    div.container5 {
      display: block;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      padding: 10px 20px;
      overflow: scroll;
    }
  
    #huracan2overview {
      padding: 2px;
    }

    footer {
      position: relative;
      margin: 0;
      background-color: rgb(70, 70, 70);
      bottom: 0;
      width: 100vw;
      height: 130vw;
    }
  
    .googlemaps {
      position: absolute;
      width: 60%;
      height: 60%;
      left: 3vw;
      bottom: 2vh;
    }
  }
  
  /* css querie minimum 600px and maximum 800px */
  
  @media only screen and (min-width: 600px) and (max-width: 800px){
    nav {
      background-color: rgb(70, 70, 70, 0.80);
      width: 100%;
      height: 7vh;
      display: flex;
      justify-content: space-between;
      position: fixed;
      top: 0;
      box-shadow: 15px 15px 30px rgb(34, 34, 34);
    }
  
    nav img {
      width: 13%;
      align-self: center;
      cursor: pointer;    
    }
  
    .menu {
      margin: 30px 100px 0 0;
      text-align: center;
      width: 100%;
      display: none;
      font-family: Roboto, Arial, Helvetica, sans-serif;
    }
    
    .menu a {
      clear: right;
      text-decoration: none;
      color: black;
      background-color: rgba(255, 255, 255, 0.8);
      margin-right: 8px;
      line-height: 70px;
      display: block;
      border-bottom: 1px solid black;
    }
    
    label {
      margin-top: 0px;
      margin-right: 50px;
      width: 26px;
      float: right;
      font-size: 50px;
      line-height: 70px;
      display: block;
      cursor: pointer;
      color:  rgba(255, 255, 255, 0.8); 
    }
    
    #toggle {
      display: none;
    }
    
    #toggle:checked + .menu {
      display: block;
    }

    .carGrid {
      background-color: lightgrey;
      display: grid;
      grid-gap: 16px;
      grid-template-columns: 33.4% 33.4% 33.4%;
      grid-template-rows: 0.25fr 0.25fr;
    }
  
    div.huracanevo {
      margin: 10px 0 0 10px;
      width: 80%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      overflow: scroll;
      height: 100%;
    }
    
    div.container {
      display: block;
      font-size: 14px;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 10px 20px;
    }
  
    #huracanoverview {
      padding: 2px;
    }
  
    div.aventadorsvj {
      margin: 10px 10px 0 10px;
      width: 80%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      grid-column: 2/3;
      grid-row: 1/2;
      overflow: scroll;
      height: 100%;
    }
    
    div.container2 {
      display: block;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      padding: 10px 20px;
      overflow: scroll;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  
    #aventadoroverview {
      padding: 2px;
    }
  
    div.performante {
      margin: 10px 0 0 10px;
      width: 80%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      grid-column: 3/3;
      grid-row: 1/2;
      overflow: scroll;
      height: 100%;
    }
    
    div.container3 {
      display: block;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      padding: 10px 20px;
      overflow: scroll;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  
    #performanteoverview {
      padding: 2px;
    }
  
    div.urus {
      margin: 10px 0 0 10px;
      width: 80%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      grid-column: 1/2;
      grid-row: 2/3;
      overflow: scroll;
      height: 100%;
    }
    
    div.container4 {
      display: block;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      padding: 10px 20px;
      overflow: scroll;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  
    #urusoverview {
      padding: 2px;
    }
  
    div.huracan {
      margin: 10px 0 0 10px;
      width: 80%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      grid-column: 2/3;
      grid-row: 2/3;
      overflow: scroll;
      height: 100%;
    }
    
    div.container5 {
      display: block;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      padding: 10px 20px;
      overflow: scroll;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  
    #huracan2overview {
      padding: 2px;
    }

    footer {
      position: relative;
      margin: 0;
      background-color: rgb(70, 70, 70);
      bottom: 0;
      width: 100vw;
      height: 110vw;
    }
  
    .googlemaps {
      position: absolute;
      width: 70%;
      height: 70%;
      left: 2vw;
      bottom: 7vh;
    }
  }