/* css html */

html{
    height: 100%;
}

/* body */

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(images/Lamborghini\ Huracan.jpg);
    background-repeat: no-repeat;
}

/* css nav */

nav {
    background-color: rgb(70, 70, 70);
    height: 8vw;
    position: fixed;
    top: 0;
    box-shadow: 15px 15px 30px rgb(34, 34, 34);
} 

nav>img {
    margin-top: 1.2vw;
}

#galleri {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 16px;
    list-style: none;
    display: grid;
    align-items: start;
    justify-content: end;
}

#contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 16px;
    list-style: none;
    display: grid;
    align-items: start;
    justify-items: center;
}

/* .nav-icon {
    margin-right: 40px;
    margin-top: 32px;
    width: 40px;
    float: right;
}
  
.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.nav-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  
.nav-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}
  
.nav-icon:hover div {
    transform: scale(0);
 } */

/* css footer */

footer {
    background-color: rgb(70, 70, 70);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vw;

}

#lamborghini {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ccc;
    margin-left: 8px;
}

#adress {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ccc;
    margin-left: 8px;
}

#phone {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ccc;
    margin-left: 8px;
}