/* css html */

html{
    height: 100%;
}

/* body */

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* css nav */

nav {
    background-color: rgb(70, 70, 70);
    height: 8vw;
    position: fixed;
    top: 0;
} 

nav>img {
    margin-top: 1vw;
}

.nav-icon {
    margin: 1em;
    right: 10vw;
    width: 40px;
}
  
.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.nav-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  
.nav-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}
  
.nav-icon:hover div {
    transform: scale(0);
 }

/* css footer */

footer {
    background-color: rgb(70, 70, 70);
    position: bottom;
    bottom: 0;
    width: 100%;
    height: 15vw; 
}